.App {
  text-align: center;
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 35rem;
  max-width: 90%;
  height: 75vh;
}

.principal {
  display: block;
  width: 100%;
  min-height: 50%;
  background-color: #FFF;
}

.login-google, .login-facebook {
  display: block;
  width: 100%;
  margin-top: 15%;
  min-height: 13%;
  background-color: #FFF;
}